In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Reading the data
df1=pd.read_csv("C:\\Users\\Admin\\Desktop\\EDA PROJECT\\deliveries.csv")
df1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [13]:
df=pd.read_csv("C:\\Users\\Admin\\Desktop\\EDA PROJECT\\matches.csv")
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [7]:
df.shape
df.info()
df.describe()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [8]:
# Cleaning the data

df.isnull().sum()
df.isnull().sum().sum()

513118

In [9]:
# Removing duplicate values

df.duplicated().sum()
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [10]:
# Statistical information of the data

df.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179055.000000,179055.000000,179055.000000,179055.000000,179055.000000,179055.000000,179055.000000,179055.000000,179055.000000,179055.000000,179055.000000,179055.000000,179055.000000
mean,1801.169758,1.482969,10.162916,3.615543,0.000452,0.036726,0.004937,0.021133,0.004183,0.000056,1.246913,0.067035,1.313948
std,3471.116142,0.502075,5.677628,1.806869,0.021264,0.251177,0.116487,0.194907,0.070497,0.016711,1.608322,0.342567,1.605470
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

In [11]:
# 1. Total number of innings of the matches played

df1['inning'].value_counts()

1    92742
2    86240
3       50
4       38
5        8
Name: inning, dtype: int64

In [14]:
# 2. How many IPL seasons are we using to analyse ?

df['season'].nunique()

12

In [15]:
# 3. Total number of matches played according to the dataset

df['id'].count()

756

In [16]:
# 4. Which IPL team won by maximum runs?

df.loc[df['win_by_runs'].idxmax()]['winner']

'Mumbai Indians'

In [17]:
# 5. Which IPL team won by minimum runs ?

df.loc[df['win_by_runs'].idxmin()]['winner']

'Rising Pune Supergiant'

In [18]:
# 6. Which IPL team won by consuming maximum wickets?

df.loc[df['win_by_wickets'].idxmax()]['winner']

'Kolkata Knight Riders'

In [19]:
# 7. Which IPL team won by consuming minimum wickets?

df.loc[df['win_by_wickets'].idxmin()]['winner']

'Sunrisers Hyderabad'

In [20]:
# 8. Which season consisted of the highest number of matches ever played ?

df['season'].value_counts().idxmax()

2013

In [21]:
# 9. Which is the most successful IPL team with all the data at hand?

df['winner'].value_counts().idxmax()

'Mumbai Indians'

In [22]:
# 10. Top players of winning matches

df['player_of_match'].value_counts().head(10)

CH Gayle          21
AB de Villiers    20
RG Sharma         17
MS Dhoni          17
DA Warner         17
YK Pathan         16
SR Watson         15
SK Raina          14
G Gambhir         13
MEK Hussey        12
Name: player_of_match, dtype: int64

In [23]:
# 11. Matches according to venue

df['venue'].value_counts().head(10)

Eden Gardens                                  77
M Chinnaswamy Stadium                         73
Wankhede Stadium                              73
Feroz Shah Kotla                              67
Rajiv Gandhi International Stadium, Uppal     56
MA Chidambaram Stadium, Chepauk               49
Sawai Mansingh Stadium                        47
Punjab Cricket Association Stadium, Mohali    35
Maharashtra Cricket Association Stadium       21
Subrata Roy Sahara Stadium                    17
Name: venue, dtype: int64

In [24]:
# 12. The number of matches played by each team

df['team1'].value_counts()

Mumbai Indians                 101
Kings XI Punjab                 91
Chennai Super Kings             89
Royal Challengers Bangalore     85
Kolkata Knight Riders           83
Delhi Daredevils                72
Rajasthan Royals                67
Sunrisers Hyderabad             63
Deccan Chargers                 43
Pune Warriors                   20
Gujarat Lions                   14
Rising Pune Supergiant           8
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Delhi Capitals                   6
Name: team1, dtype: int64

In [25]:
df['team2'].value_counts()

Royal Challengers Bangalore    95
Kolkata Knight Riders          95
Delhi Daredevils               89
Mumbai Indians                 86
Kings XI Punjab                85
Rajasthan Royals               80
Chennai Super Kings            75
Sunrisers Hyderabad            45
Deccan Chargers                32
Pune Warriors                  26
Gujarat Lions                  16
Delhi Capitals                 10
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: team2, dtype: int64

In [26]:
# 28. The winners in each Season

df.groupby(['season'])['winner'].value_counts()

season  winner
2008    Rajasthan Royals               13
        Kings XI Punjab                10
        Chennai Super Kings             9
        Delhi Daredevils                7
        Mumbai Indians                  7
                                       ..
2019    Kings XI Punjab                 6
        Kolkata Knight Riders           6
        Sunrisers Hyderabad             6
        Rajasthan Royals                5
        Royal Challengers Bangalore     5
Name: winner, Length: 100, dtype: int64

In [27]:
# 29. IPL Finals venues and winners along with the number of wins.

df.groupby(['venue','winner'])['id'].count()

venue             winner
ACA-VDCA Stadium  Chennai Super Kings            1
                  Delhi Capitals                 1
Barabati Stadium  Deccan Chargers                3
                  Kings XI Punjab                1
                  Kolkata Knight Riders          3
                                                ..
Wankhede Stadium  Rajasthan Royals               4
                  Rising Pune Supergiant         2
                  Rising Pune Supergiants        1
                  Royal Challengers Bangalore    3
                  Sunrisers Hyderabad            1
Name: id, Length: 246, dtype: int64

In [28]:
# 30. The number of seasons won by each team

df.groupby(['winner'])['season'].value_counts()

winner               season
Chennai Super Kings  2013      12
                     2011      11
                     2018      11
                     2012      10
                     2014      10
                               ..
Sunrisers Hyderabad  2018      10
                     2017       8
                     2015       7
                     2014       6
                     2019       6
Name: season, Length: 100, dtype: int64

In [29]:
# 31. The toss winner, toss decision, winner in final matches.

df.groupby(['toss_winner','toss_decision','winner'])['id'].count()

toss_winner          toss_decision  winner
Chennai Super Kings  bat            Chennai Super Kings            30
                                    Deccan Chargers                 1
                                    Delhi Daredevils                3
                                    Kings XI Punjab                 1
                                    Kolkata Knight Riders           4
                                                                   ..
Sunrisers Hyderabad  field          Kolkata Knight Riders           3
                                    Mumbai Indians                  1
                                    Rising Pune Supergiant          1
                                    Royal Challengers Bangalore     2
                                    Sunrisers Hyderabad            15
Name: id, Length: 187, dtype: int64

In [30]:
# 32. The man of the match for each winning team

df.groupby(['winner','player_of_match'])['id'].count()

winner               player_of_match
Chennai Super Kings  A Nehra            3
                     AT Rayudu          2
                     BB McCullum        2
                     BW Hilfenhaus      2
                     DE Bollinger       2
                                       ..
Sunrisers Hyderabad  PA Patel           2
                     Rashid Khan        7
                     S Dhawan           3
                     TA Boult           1
                     Yuvraj Singh       1
Name: id, Length: 325, dtype: int64

In [31]:
# 33. Decision in every toss either fielding or batting

df['toss_decision'].value_counts()

field    463
bat      293
Name: toss_decision, dtype: int64

In [32]:
# 34. What is the probability of winning a match if the toss was won?

df['toss_winner'] == df['winner']

0      False
1       True
2       True
3       True
4       True
       ...
751     True
752    False
753     True
754     True
755     True
Length: 756, dtype: bool

In [33]:
# 35. The top 10 leading run scorers in IPL

df1.groupby(['batsman'])['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64